extends layout

block title
  title #{post.title} - Sharad Vikram

block css
  link(rel='stylesheet', href='/css/blog.css')

block content
  div.wrapper
    div.blog-wrapper
      div.blog-title
        a.blog-title(href='/blog/#{post.id}')
          | #{post.title} - #{convertDate(post.date)}
    div.content-wrapper
      markdown(ng-model='post.content')
        | #{post.content}
